Options -Indexes
Options +SymLinksIfOwnerMatch
ServerSignature off
<Files ~ "^.*([Ww][Hh][Ii][Rr][Ii][Nn][Gg][Aa]\_[Ww][Hh][Aa][Kk][Aa][Pp][Ii][Rr][Ii]\.[Ii][Nn][Ii])">
    order allow,deny
    deny from all
    satisfy all
</Files>
<Files ~ "^.*(7776\_[Kk][Uu][Pp][Uu]\.[Dd][Bb])">
    order allow,deny
    deny from all
    satisfy all
</Files>
